<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="RS232_monitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <userSettings>
        <RS232_monitor.Properties.Settings>
            <setting name="CodePage" serializeAs="String">
                <value>866</value>
            </setting>
            <setting name="TXTlogFile" serializeAs="String">
                <value>terminal.txt</value>
            </setting>
            <setting name="CSVlogFile" serializeAs="String">
                <value>terminal.csv</value>
            </setting>
            <setting name="DefaultCommand" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultParameter" serializeAs="String">
                <value />
            </setting>
            <setting name="addCR" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="addLF" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="addSuff" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SuffText" serializeAs="String">
                <value />
            </setting>
            <setting name="LogSignal" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LogTime" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LogDir" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HexPort1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HexPort2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoLogTXT" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoLogCSV" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoScroll" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LineWrap" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Port1Name" serializeAs="String">
                <value>Port1</value>
            </setting>
            <setting name="Port2Name" serializeAs="String">
                <value>Port2</value>
            </setting>
            <setting name="LogPortName" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LogGrid" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultCommandHex" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultParamHex" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SendTimeOut" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="ReceiveTimeOut" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="DefaultSuffHex" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Codepages_list" serializeAs="String">
                <value>https://msdn.microsoft.com/en-us/library/system.text.encoding(v=vs.110).aspx</value>
            </setting>
            <setting name="LineBreakTimeout" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="Port3Name" serializeAs="String">
                <value>Port3</value>
            </setting>
            <setting name="Port4Name" serializeAs="String">
                <value>Port4</value>
            </setting>
            <setting name="HexPort3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HexPort4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LogText" serializeAs="String">
                <value>False</value>
            </setting>
        </RS232_monitor.Properties.Settings>
    </userSettings>
</configuration>
